{% extends 'careorbit/base.html' %}
{% load static %}

{% block title_block %}
    CareOrbit - Contact_us
{% endblock %}

{% block body_block %}

        <section class="policy-section">
            <h2>10. Contact Us</h2>
            <p>If you have any questions or concerns about this Privacy Policy or how we handle your data, please contact us at:</p>
            <p><strong>Email:</strong> privacy@careorbit.com</p>
            <p><strong>Address:</strong> CareOrbit, 123 Health Street, Glasgow, G1 1AA, United Kingdom</p>
            <p><strong>Phone number:</strong> 12345678910</p>
        </section>

{% endblock %}